/* {
  background-color: black;
  color: white;
} */
html {
  font-family: sans-serif;
  font-size: 20px;
}
body {
  margin: 0px;
  /* font-size: 30px; */
}

/* Navigation List */

nav {
  background-color: #18181b;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.horizontal-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0px;
  width: 95%;
}

.horizontal-list li {
  font-size: 20px;
  -webkit-tap-highlight-color: transparent; /*blue patch coming while clicking*/
}

.horizontal-list li a {
  text-decoration: none;
  color: white;
  transition: color 3s, border-bottom 3s;
}

.horizontal-list li a:hover {
  border-bottom: 1px solid white;
  color: lightgrey;
}

.menu {
  margin: 0.8rem;
  width: 5%;
  height: 100%;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

.menu-item {
  background-color: white;
  width: 35px;
  height: 4px;
  margin: 4.5px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.cross #menu-item1 {
  transform: translateY(9.5px) rotate(-45deg);
  /* margin: 0px; */
}
.cross #menu-item3 {
  transform: translateY(-8px) rotate(45deg);
  /* margin: 0px; */
}
.cross #menu-item2 {
  opacity: 0;
}

.cross .horizontal-list {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

@media screen and (max-width: 768px) {
  .cross {
    height: 20rem;
    opacity: 1;
  }

  .horizontal-list {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    right: 2%;
    cursor: pointer;
  }
}

/* --------------------------Header */
#body-header {
  color: white;
  height: 65vh;
  width: 100%;
  background-image: url(./img/macbook_mouse.jpg);
  /* background-color: #212529; */
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  background-attachment: fixed;
  margin-top: 0px;
}

/* Name and Social Icons */

a {
  text-decoration: none;
}
#name-container {
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: bold;
  padding-top: 5rem;
}
#name {
  font-size: 3rem;
  margin-top: 0px;
}

#social-icons {
  margin-top: 6rem;
  margin-left: 30%;
  margin-right: 30%;
}

#social-icons ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}

#social-icons img {
  height: 2rem;
  width: 2rem;
  border-radius: 40%;
}

#social-icons img:hover {
  /* border-style: solid;
  border-color: white;
  border-width: 2px; */
  /* border: 4px solid white; */
  box-shadow: 0px 0px 15px 5px rgba(230, 196, 196, 0.2);
}

#social-icons ion-icon {
  font-size: 1.9rem;
  border-radius: 40%;
}

#social-icons ion-icon:hover {
  box-shadow: 0px 0px 15px 5px rgba(230, 196, 196, 0.2);
}

@media screen and (max-width: 768px) {
  #name {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  #social-icons {
    margin-top: 4rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    right: 4%;
  }

  #name {
    font-size: 2rem;
    margin-top: 3rem;
  }

  #social-icons {
    margin-top: 3.5rem;
    margin-left: 7%;
    margin-right: 7%;
  }

  #social-icons img {
    height: 1.7rem;
    width: 1.7rem;
  }
  #social-icons ion-icon {
    height: 1.7rem;
    width: 1.7rem;
  }
}

/* Section */

section {
  width: 80%;
  display: flex;
  /* height: 45vh; */
  flex-direction: column;
  align-items: center;
  margin: 2% 10% 0% 10%;
}
.section-heading {
  margin-bottom: 2rem;
}
section:nth-child(2n + 1) {
  background-color: white;
}

section:nth-child(2n) {
  background-color: #f7f7f8;
}

.section-heading span {
  font-size: 30px;
  color: #2857a4;
  position: relative;
  top: -12px;
}

/* About Section */

#profile-photo {
  height: 15rem;
  width: 15rem;
  margin: auto;
  margin-top: -13%;
  position: relative;
}
#profile-photo img {
  height: 100%;
  width: 100%;
  border: 4px solid white;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

#description {
  margin-top: 2.5rem;
}

/* About Section media query */

@media screen and (max-width: 768px) {
  #profile-photo {
    margin-top: -28%;
  }
}

@media screen and (max-width: 480px) {
  #profile-photo {
    margin-top: -35%;
    height: 12rem;
    width: 12rem;
  }
}
/* -----About section media query */

/* Skills Section */

.section-logo {
  height: 1.6rem;
  width: 1.6rem;
  position: relative;
  top: -5px;
}

.all-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

#skills-section {
  /* height: 35vh; */
  padding-bottom: 1rem;
}

.skill-progress {
  width: 9rem;
  height: 1.6rem;
  /* border: 2px solid black; */
  box-shadow: 0.5px 0.5px 2px 1px black;
  background-color: lightgrey;
  border-radius: 0.6rem;
  margin: 1%;
}

.skill-percentage {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.3rem;
  height: 100%;
}
.skill-name {
  width: 30%;
  height: 100%;
  padding: 0.3rem;
  margin-left: 6px;
  color: white;
}

/* Work Experience Section */

.workexp-icon {
  width: 2.1rem;
  height: 2.1rem;
}

.timeline {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  position: relative;
}

.timeline-boxes {
  /* border: 2px solid black; */
  height: 20%;
  width: 27%;
  margin: 10px;
  min-height: 200px;
  position: relative;
  left: 10%;
}

.timeline-boxes:nth-child(2n) {
  left: 65%;
}

.timeline-boxes:nth-child(2n + 1):after {
  content: "";
  position: absolute;
  top: 40%;
  right: -46.8%;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #2857a4;
  z-index: 1;
}

.timeline-boxes:nth-child(2n):after {
  content: "";
  position: absolute;
  top: 40%;
  left: -59.4%;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #2857a4;
  z-index: 1;
}

.timeline-boxes:nth-child(2n) .introduction {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1% 0% 3% 3%;
}

.timeline-boxes:nth-child(2n) .company-logo {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
}

.timeline-boxes:nth-child(2n + 1) .company-logo {
  position: absolute;
  left: 0.3rem;
  top: 0rem;
}

.timeline-divider {
  border-right: 4px dashed #0096fa6b;
  position: absolute;
  height: 78%;
  width: 0%;
  top: 8%;
  left: 50%;
}

.timeline-traveller {
  transform: rotate(90deg);
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  z-index: 2;
}

.timeline-traveller img {
  width: 50px;
  height: 50px;
  rotate: 90deg;
}

.designation,
.company-name,
.duration {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.3%;
}

.introduction {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 1% 3% 3% 0%;
}

.designation {
  color: rgb(65, 65, 173);
}
.company-name {
  color: purple;
}

.description {
  padding-left: 3%;
}

.company-logo img {
  width: 50px;
  height: 40px;
  border-radius: 25px;
}

#contact-logo {
  top: -2px;
}

@media screen and (max-width: 1580px) {
  .introduction {
    padding: 3% 3% 3% 0%;
  }

  .timeline-boxes {
    width: 33%;
    left: 7%;
  }

  .timeline-boxes:nth-child(2n + 1) .company-logo {
    top: 0.4rem;
  }

  .company-logo img {
    width: 45px;
    height: 35px;
  }

  .timeline-boxes:nth-child(2n + 1):after {
    right: -29%;
  }

  .timeline-boxes:nth-child(2n) {
    left: 59%;
  }
  .timeline-boxes:nth-child(2n):after {
    left: -31.2%;
  }
}

@media screen and (max-width: 1280px) {
  .timeline-boxes {
    width: 40%;
    left: 3%;
  }

  .timeline-boxes:nth-child(2n) {
    left: 56%;
  }

  .timeline-boxes:nth-child(2n):after {
    left: -19.5%;
  }

  .timeline-boxes:nth-child(2n + 1):after {
    right: -16%;
  }
}

@media screen and (max-width: 1150px) {
  .timeline-boxes {
    width: 45%;
    left: 0%;
  }

  .timeline-boxes:nth-child(2n + 1):after {
    right: -9.7%;
  }

  .timeline-boxes:nth-child(2n) {
    left: 53%;
  }

  .timeline-boxes:nth-child(2n):after {
    left: -10.7%;
  }

  .company-logo img {
    width: 40px;
    height: 30px;
  }
}

@media screen and (max-width: 900px) {
  .timeline-boxes:nth-child(2n) {
    left: 15%;
  }

  .timeline-boxes {
    left: 15%;
    width: 70%;
  }

  .timeline-divider {
    top: 5%;
    height: 81%;
    left: 7%;
  }

  .timeline-boxes:nth-child(2n + 1):after {
    left: -14.5%;
    top: 26%;
    height: 0.4rem;
    width: 0.4rem;
  }

  .timeline-boxes:nth-child(2n):after {
    left: -14.5%;
    top: 26%;
    height: 0.4rem;
    width: 0.4rem;
  }

  #accenture-divider {
    height: 45%;
  }

  .skill-progress {
    margin: 2%;
  }

  #experience .timeline-divider {
    height: 70%;
  }

  .timeline-traveller img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 600px) {
  .timeline-traveller img {
    width: 40px;
    height: 40px;
  }

  .timeline-divider {
    left: 3%;
  }

  .timeline-boxes {
    left: 7%;
    width: 90%;
  }

  .timeline-boxes:nth-child(2n) {
    left: 7%;
  }

  .timeline-boxes:nth-child(2n + 1):after {
    height: 0.4rem;
    width: 0.4rem;
    left: -7.4%;
    top: 26%;
  }

  .timeline-boxes:nth-child(2n):after {
    height: 0.4rem;
    width: 0.4rem;
    left: -7.5%;
  }

  .company-logo img {
    width: 30px;
    height: 20px;
  }

  .designation,
  .company-name,
  .duration {
    font-size: 0.8rem;
  }

  .timeline-boxes .description {
    font-size: 0.8rem;
  }

  .section-heading span {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .timeline-boxes:nth-child(2n + 1):after {
    left: -8.4%;
  }

  .timeline-boxes:nth-child(2n):after {
    left: -8.5%;
  }
  .section-heading span {
    font-size: 20px;
  }
  .skill-name {
    font-size: 15px;
  }
  .section-logo {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* Portfolio Section */
.work {
  margin: 3%;
  border: 2px solid rgb(210, 203, 223);
  border-radius: 7px;
  box-shadow: 0px 0px 10px 1px #3f3f46;
  width: 11rem;
  height: 13rem;
  transition: 0.3s ease;
}

.work h5 {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.work:hover {
  position: relative;
  width: 11.5rem;
  height: 13.5rem;
}

.work-view {
  /* height: 250px;
   width:300px; */
  height: 90%;
  width: 100%;
}

.work-view img {
  width: 100%;
  height: 100%;
}

.all-works {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* Contact */
.personal-details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#my-details {
  font-size: 1.2rem;
}

.personal-details img {
  width: 20px;
  height: 20px;
}

#contact {
  padding-bottom: 2.5rem;
}

#contact-image-container {
  position: relative;
  bottom: 6px;
  display: inline-block;
}

/*Contact Media Query */

@media screen and (max-width: 930px) {
  #my-details {
    font-size: 1rem;
  }
}

@media screen and (max-width: 790px) {
  #my-details {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  #my-details div {
    width: 80%;
    margin: 1.2%;
  }

  #my-details {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #my-details {
    font-size: 0.8rem;
  }
}

/*----Dark Mode----*/
.darkmode {
  background-color: black;
  color: white;
}

.darkmode section {
  background-color: black;
}

/* Percentage wise Colours*/

.eighty-five-percent {
  background-color: #204a9c;
}

.ninety-percent {
  background-color: #15803d;
}

.sixty-five-percent {
  background-color: #8d6a84;
}

.seventy-percent {
  background-color: #f97316;
}
